{% extends 'base.html' %}

{% block content%}
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Family Medicine</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">20</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Rehab Medicine</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">50</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">ENT</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">10</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">OB-Gyne</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">12 <span class="badge badge-success ">On Going</span></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-group mb-4">
            <div class="card">
            <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
            </div>
            <div class="text-value">10</div>
            <small class="text-muted text-uppercase font-weight-bold">Pulmonology</small>
            <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
            </div>
            <div class="text-value">3 </div>
            <small class="text-muted text-uppercase font-weight-bold">Orthopedics</small>
            <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
            </div>
            <div class="text-value">12</div>
            <small class="text-muted text-uppercase font-weight-bold">Cardiology</small>
            <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
            </div>
            <div class="text-value">2</div>
            <small class="text-muted text-uppercase font-weight-bold">Radiology</small>
            <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            </div>
            <div class="card">
            <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
            </div>
            <div class="text-value">5`</div>
            <small class="text-muted text-uppercase font-weight-bold">Pedia</small>
            <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            </div>
            </div>

        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th class="text-center">
              <i class="icon-people"></i>
              </th>
              <th>NAME OF DOCTORS</th>
              <th>SPECIALIZATION</th>
              <th>STATUS</th>
              <th>BRANCH</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td class="text-center">
              <div class="avatar">
              <img class="img-avatar" style="height: 50px"  src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
              </div>
            </td>
            <td>
              <div>Yiorgos Avraamu</div>
              <div class="small text-muted">
              8:00AM - 5:00PM</div>
            </td>

            <td>
              <div>Internal Medicine</div>
            </td>
            <td>
                <span class="badge badge-success">On Going</span>
            </td>
            <td>
                <div>Alabang</div>
            </td>
            </tr>
            <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img class="img-avatar" style="height: 50px"  src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                  8:00AM - 5:00PM</div>
                </td>
    
                <td>
                  <div>Internal Medicine</div>
                </td>
                <td>
                    <span class="badge badge-success">On Going</span>
                </td>
                <td>
                    <div>Alabang</div>
                </td>
             </tr>
          </tbody>
        </table>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
  
{% endblock %}