

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">My Health  </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">SM North Edsa</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Shangrila Plaza</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Robinson Place Manila</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Filomena</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Venice</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Double Dragon</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Alabang</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Cybergate Cebu</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Galleria Cebu</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  

